<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-primary fw-bold">Welcome to SPLITWISE</h1>
    <p class="lead mt-3">Splitwise is an app for splitting expenses with your friends.</p>
    <p class="mb-4">
      It lets you and your friends add various bills, keep track of who owes who, and helps you settle up with each other
      quickly and easily.
    </p>
   
  </div>
</div>

<!-- Footer with Logo -->
<footer class="text-center mt-5">
  <img src="<%= asset_path 'img1.png' %>" alt="Splitwise Logo" class="img-fluid mt-3" style="max-width: 150px;">
</footer>
